* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;
}

h1, nav {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    background-color: brown;
    color: bisque;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between
}

.bajo-header {
    padding-top: 3rem;
}

h1, nav {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 0.2rem 2rem;
    display: block;
}

.active {
    background-color: bisque;
    color: brown;
}

section:nth-of-type(2n) {
    background-color: lightpink;
}

.content_wraper {
    margin: 2rem 10%;
    padding: 1rem;
}