$font_titulos: 'Markazi+Text', cursive;
$background_titulos: lightskyblue;
$color_titulos: rgb(41, 39, 39);
$borde: olive;
$c_pie-pagina: darkblue;

 

*, :after, :before, ::after, ::before {
    box-sizing: border-box
}

body, h1, h2, figure, nav ul, nav li {
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit;
    text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif; 
    color:$color_titulos;
}

section {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    figure {
        margin-left: -2.5%;
        margin-right: -2.5%
    }
    figcaption {
        font-size: .8rem;
        color: $c_pie-pagina;
    }
}


figure {
    img {
        width: 100%;
    }
}

table {
    margin-bottom: 1rem;
    tr {
        th, td {
        border: 1px solid;
        padding: 0.5rem;
        }
    }
}

div.wrapper-flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $borde;

    nav.burguer {
        position: relative;
        i {
            cursor: pointer;
            padding-top: .5rem;
            font-weight: 700;
            font-size: 2.5rem;
        }
        div.burguer-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            border: 2px solid $borde;
            right: 0;
            z-index: 1;
            li {
                text-align: center;
                a {
                    display: block;
                    padding: 0.5rem 0.8rem;
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
            
        }
    }
    h1 {
        text-align: left;
        color: $color_titulos;
        font-family: $font_titulos;
        font-weight: 700;
        font-size: 2.5rem;
    }
}
nav.menu-desk {
    display: none;
}

nav.menu-footer { 
    ul {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid $borde;
        border-top: 2px solid $borde;
        margin-bottom: 2rem;
        li {
            text-align: center;
            a {
                display: block;
                padding: 0.5rem 0.8rem;
                font-size: 1rem;
                font-weight: 700;

            }
        }
    }
}

h2 {
    font-size: 1.5rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -2.5%;
    margin-right: -2.5%;
    padding-left: 2.5%;
    padding-bottom: 0.3rem;
    font-family: $font_titulos;
    color: $color_titulos;
    border-bottom: 2px solid $borde;
    &::first-letter {
        font-size: 3rem; 
    }
    
}
h3 {
    font-size: 1.1rem;
    font-family: $font_titulos;
    color: $borde;
    }



a.ir-desk, a.ir-footer {
    display: block;
    width: 90px;
    padding: 0.6rem 1rem;
    background-color: cadetblue;
    font-weight: 700;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

a.ir-desk {
    display: none;
}

footer  {
    width: 95%;
    margin-top: 2rem;
    margin-bottom: 2rem;
        
    address {
        text-align: center;
        font-size: .9rem;
    }
    p {
        padding: 2.5%;
    }
}    
 
.btn-subir {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    padding: 1.5rem;
}

.fa-arrow-alt-circle-up {
    font-size: 55px;
    color: cadetblue;
    cursor: pointer;
}

a.mas-texto {
    cursor: pointer;
    padding: 0.6rem 1rem;
    background-color: cadetblue;
    font-weight: 700;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.hide {
    display: none;
}

p.mas-texto {
    display: none;
}

form {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid $borde;
    padding: 2%;
}

@media screen and (min-width:620px) {

    nav.menu-desk { 
        display: block;
        ul {
            display: flex;
            justify-content: space-around;
            border-bottom: 2px solid $borde;
            border-top: 2px solid $borde;
            margin-bottom: 2rem;
            
            li {
                list-style: none;
                a {
                    display: block;
                    color: inherit;
                    
                    padding: 1.1rem 1rem;
                    font-size: 1.1rem;
                    font-weight: 700;
                }
            }
        }
    }
    
    h1 {
        padding-left: 2.5%;
    }
    a.ir-footer {
        display: none;
    }
    a.ir-desk {
        display: block;
    }

    div.wrapper-flex  {
        nav.burguer {
            display: none;
        }
    }
    
    nav.menu-footer {
        display: none;
        }

    footer {
        address {
            padding-top: 1rem;
            border-top: 2px solid gray;
        }
    }
}

@media screen and (min-width:900px) {

    nav.menu-footer, nav.menu-desk { 
    
        ul {
            display: flex;
            justify-content: space-around;
            border-bottom: 2px solid $borde;
            border-top: 2px solid $borde;
            margin-bottom: 2rem;
            
            li {
                list-style: none;
                a {
                    display: block;
                    color: inherit;
                    text-decoration: none;
                    padding: 1.1rem 1rem;
                    font-size: 1.2rem;
                    font-weight: 700;
    
                    &:hover {
                        background-color: $borde;
                        color: $background_titulos
                    }
                     
                }
            }
        }
    }

    a.ir-desk, a.ir-footer {
        &:hover {
            background-color: $borde;
            color: $background_titulos;
        }
    }

    section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    
        figure {
            margin-left: 2%;
            margin-bottom: 2rem;
        }
    }

    h1 {
        padding-left: 5%;
    }
    h2 {
        margin-left: -5%;
        margin-right: -5%;
        padding-left: 5%
    }

    section#geografia {
        .geografia {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            
        }
        figure {
            flex: 0 1 39%;
            margin-left: 0;
            margin-right: 2%;

        }
       
        table {
            flex: 0 1 59%;
            margin-bottom: 2rem;
        }
        p {
            flex: 0 1 100%;
        }
    }

    section#historia {
        article {
            figure {
                float: right;
                width: 45%;
            }
        }
    }

    section#economia {
        display: grid;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        
        h2 {
            grid-column: 1/3;
            grid-row: 1/2;
        }
        p.item-grid1 {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        p.item-grid2 {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        figure.item-grid {
            grid-column: 1/3;
            grid-row: 3/4;
            margin-left: 0;
            margin: 0;
        }
        p.item-grid3 {
            grid-column: 1/2;
            grid-row: 4/5;
        }
        p.item-grid4 {
            grid-column: 2/3;
            grid-row: 4/5;
        }
    }
    
   /*  nav.menu-mobile { 
        ul {
            display: flex;
            justify-content: space-around;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    padding: 0.5rem 2rem;
                    font-family: 'Roboto', sans-serif;
                    font-size: 0.8rem;
                }
            }
        
        }
    }
 */
}

