body {
    margin: 0;
}

header {
    background-color: brown;
    color: bisque;
    text-align: center;
}

.normal-header {
    height: 20vh;
    padding: 2rem;
    
}

.sticky-header {
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.bajo-header {
    height: 5rem;
}

h1 {
    margin: 0px;
}

main {
    margin: 2rem;
}

.btn-top {
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    padding: 2rem;
    opacity: 0.8;
    background-color: darkgray
}

.hide {
    display: none;
}
